{% extends "layout.html" %}

{% block title %}مدونة{% endblock %}

{% block body %}
  {% for post in posts.items %}
  <article class="jumbotron text-right col-sm-12 mx-auto">
    <h1 class="">{{ post.title }}</h2>
    <div class="content">
      {{ post.content }}
    </div>
    <div class="footer">
      {{ post.pub_date.strftime('%Y-%m%d') }}
    </div>
  </article>
  {% endfor %}


  {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=1) %}
    {% if page_num %}
      {% if page_num == posts.page %}
      <a class="btn btn-info mb-4" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
      {% else %}
      <a class="btn btn-outline-info mb-4" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
      {% endif %}
    {% else %}
    ...
    {% endif %}
  {% endfor %}
{% endblock %}
